<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.riverside.skeleton.kotlin.base">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
            android:name=".application.SBaseApplication"
            android:allowBackup="true"
            android:supportsRtl="true">
        <meta-data
                android:name="APP_HOME"
                android:value="@string/app_home"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                    tools:replace="android:resource"/>

        </provider>

        <service android:name=".upgrade.UpgradeService" />

        <receiver android:name=".upgrade.UpgradeReceiver">
            <intent-filter>
                <action android:name="${applicationId}.upgrade_over" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
