<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.riverside.skeleton.kotlin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
            android:name=".application.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:name,android:theme">

        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="${applicationId}.LOGIN_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
                android:name=".UtilMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".BaseMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.RxBusActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.ValidateAnkoActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.ValidateXmlActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.MultipleFinishActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".NetMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".WidgetAnkoMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".WidgetXmlMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.CaptchaActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.CaptchaActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.CheckableLinearLayoutActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.CheckableLinearLayoutActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.RecyclerViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.RecyclerViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.RefreshListViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.RefreshListViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.RefreshGridViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.RefreshGridViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.CompleteViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.CompleteViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.ImageGridViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".basetest.ExtrasActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.ImageGridViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".WidgetUIMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.SelectorActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".widgettest.PicassoActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.PermissionsActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".basetest.DialogActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".net.WifiActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".net.GpsActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".net.BluetoothActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".DbMainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.RefreshImageGridViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.SearchBarActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.SearchBarActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.xml.PairViewActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".widgettest.anko.PairViewActivity"
                android:screenOrientation="portrait" />

        <service android:name=".basetest.TestService" />
    </application>
</manifest>
